/*
*
ALL HTML TAGS
*
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow: auto;
	background: white;
}

/*
MATERIALIZE OVERRIDES
*/
.row {
	margin: 0;
}

/*
* MAIN CONTENT
*/

.error-alert {
	background: #ef5350;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.success-alert {
	background: #00897b;
	color: white;
	text-align: center;
	font-size: 20px;
	height: 70px;
}

.main-container {
	margin-top: 70px;
}

// .card-title {
// 	text-transform: uppercase;
// }

// .card-image {
// 	height: 100%;
// 	max-height: 100% !important;
// }

.card {
	height: auto !important;
	width: 100% !important;

	.card-image {
		
		.card-title {
			padding: 0px !important;
			padding-left: 30px !important;
			padding-bottom: 80px !important;
			text-transform: uppercase;
			font-size: 30px;
		}
	
	}

	.card-action {
		
		a {
			color: $azulcaribe-pink !important;
		}

	}

}

.section {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	h3 {
		text-transform: uppercase;
		color: $azulcaribe-blue;
	}

}

.txt-section {
	text-align: center;
	padding: 40px;

	h1 {
		font-size: 35px;
		text-transform: uppercase;
	}

}

.slider {
	height: 440px !important;

	.slides {
		height: 400px !important;
	}

}

.section-dark {
	background-color: $section-dark-color;
}

.carousel {
	height: 600px;
}

.within-parallax {

	h3 {
		font-size: 50px;
		padding: 10px;
		margin-top: 190px;
		color: white;
	}

	h5 {
		font-size: 30px;
		padding: 10px;
		margin: 0;
	}

	position: absolute;
	left: 40px;
	transform: translateY('50%');
}
/*
*
HEADER EFFECTS
*
*/
.headroom {
	transition: transform .3s ease;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

/*
* MENU HAMBURGER ANIMATION
*/

.svg-menu-toggle {
	fill: $menu-hamburger-color;
	pointer-events:all; /*needs to be there so the hover works*/
	cursor:pointer;
	top: 0;

	.bar {
		-webkit-transform:rotate(0) translateY(0) translateX(0);
		transform:rotate(0) translateY(0) translateX(0);
		opacity:1;

		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

		-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
		transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;

	}

	.bar:nth-of-type(1) {
		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;
	}

	.bar:nth-of-type(3) {
		-webkit-transform-origin: 20px 20px;
		transform-origin: 20px 20px;
	}

}

.svg-menu-toggle-cross {
	
	.bar:nth-of-type(1) {
		-webkit-transform:rotate(-45deg) translateY(0) translateX(0);
		transform:rotate(-45deg) translateY(0) translateX(0);
	}

	.bar:nth-of-type(2) {
		opacity:0;
	}

	.bar:nth-of-type(3) {
		-webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
		transform:rotate(45deg) translateY(0em) translateX(0em);
	}

}

/*
*
HEADER ELEMENTS
*
*/
.header {
	text-align: center;
	background: $header-background-color;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	height: 70px;
}

.logo {
	height: 70px;
}

.menu-hamburger {
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	margin-top: 8px;
	margin-left: 15px;
	display: block;
}

/*
*
MENU LISTS
*
*/
.main-menu {
	background: $main-menu-background-color;
	text-align: left;
	position: fixed;
	width: 200px;
	// height: calc(100vh - 70px);
	height: 100vh;
	overflow: auto;
	left: -100%;
	z-index: 999;
	top: 0;
	margin-top: 70px;

	.main-menu-ul {

		.main-menu-li {
			display: block;
			padding: 20px;
			position: relative;
			width: 200px;
			text-transform: uppercase;

			.main-menu-a {
				text-decoration: none;
				font-size: 15px;
				color: $menu-link-color;
			}

			.main-menu-a:hover {
				color: $menu-link-hover-color;
			}

		}

		.main-menu-dropdown {
			display: block;
			padding: 20px;
			position: relative;
			width: 200px;
			text-transform: uppercase;

			.main-menu-a {
				text-decoration: none;
				font-size: 15px;
				color: $menu-link-color;
			}

			.main-menu-a:hover {
				cursor: pointer;
				color: $menu-link-hover-color;
			}

			.main-menu-li-ul {
				display: none;
				list-style-type: none;
				list-style-position:inside;
				margin:0;
				padding:0;
				left: 0;
				width: 100%;
				border-width: 1px;
				border-color: #f06292;
				margin-top: 10px;
				position: relative;
				border-style: none;
				background: none;

				.main-menu-li-ul-li {
					padding: 0;
					left: 0;
					padding-top: 5px;
					padding-bottom: 5px;

					.main-menu-li-ul-li-a {
						display:block;
						text-decoration: none;
					}

				}

				.main-menu-li-ul-li:hover {
					background: white;
				}

			}

		}

	}
}

/*
FOOTER
*/
.page-footer {
	background-color: $azulcaribe-pink;
	text-align: center;
	
	.footer-copyright {
		background-color: $copyright-footer-color;
	}

	.footer-social {
		text-align: center;
	}

	.fa {
		margin: 10px;
		color: white;
	}

}

/*
ABOUT PAGE
*/

.hero {
	height: 400px;
	position:relative;
	text-align: center;
	color:white;
	top:0;
	left:0;
	background: url('img/video-services.jpg') no-repeat center;
	padding: 0;

	h3 {
		text-transform: uppercase;
	}
}

/*
ARCHIVE PAGES
*/

.product-archive-img {
	height: auto;
	width: 100%;
}

.archive-single-product-content {
	height: 350px;
	position: relative;

	.fast-view-chip {
		visibility: hidden;
		position: absolute;
		height: 40px;
		top: 0;
		left: 0;
		margin-top: 200px;
		width: 100%;
		color: white;

		p {
			font-size: 10px;
			margin-top: 15px;
			text-transform: uppercase;
		}

	}

	a {
		text-transform: uppercase;
	}

	.fast-view-chip:hover {
		cursor: pointer;
	}

	img {
		width: 100%;
		height: auto;
	}

}
