/*
*
ALL HTML TAGS
*
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	top: 0;
	margin-top: 130px;
	padding: 20px 10px 20px 10px;
}

body{
	overflow: auto;
	margin-top: 70px;
}

/*
*
HEADER ELEMENTS
*
*/
.header {
	text-align: center;
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	height: 70px;
}

.logo {
	height: 70px;
}

.menu-hamburger {
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	display: block;
}

/*
*
MENU EFFECTS
*
*/
.headroom {
	transition: transform .3s ease;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

/*
*
MENU LISTS
*
*/
.main-menu {
	background: white;
	text-align: left;
	position: fixed;
	width: 200px;
	height: calc(100vh - 70px);
	overflow: auto;
	left: -100%;
	z-index: 999;
	top: 0;
	margin-top: 70px;

	.main-menu-ul {

		.main-menu-li {
			display: block;
			padding: 20px;
			position: relative;
			width: auto;

			.main-menu-a {
				text-decoration: none;
				font-size: 15px;
				color: #f06292;
			}

		}

		.main-menu-li:hover {
			background: #e3f2fd;
		}

		.main-menu-dropdown {
			display: block;
			padding: 20px;
			position: relative;
			width: auto;

			.main-menu-a {
				text-decoration: none;
				font-size: 15px;
				color: #f06292;
			}

			.main-menu-li-ul {
				position: relative;
				border-style: none;
				background: none;
				display: block;
				list-style-type: none;
				list-style-position:inside;
				margin:0;
				padding:0;
				left: 0;
				width: 100%;

				.main-menu-li-ul-li {
					padding: 0;
					left: 0;
					padding: 0;
					padding-top: 5px;
					padding-bottom: 5px;
					margin-left: 10%;

					.main-menu-li-ul-li-a {
						display:block;
						text-decoration: none;
					}

				}

				.main-menu-li-ul-li:hover {
					background: #e3f2fd;
				}

			}

		}

		.main-menu-dropdown:hover {
			background: #e3f2fd;
		}

	}

}

/*
* MENU HAMBURGER ANIMATION
*/

.svg-menu-toggle {
	fill: #90caf9;
	pointer-events:all; /*needs to be there so the hover works*/
	cursor:pointer;

	.bar {
		-webkit-transform:rotate(0) translateY(0) translateX(0);
		transform:rotate(0) translateY(0) translateX(0);
		opacity:1;

		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;

		-webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
		transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;

	}

	.bar:nth-of-type(1) {
		-webkit-transform-origin: 20px 10px;
		transform-origin: 20px 10px;
	}

	.bar:nth-of-type(3) {
		-webkit-transform-origin: 20px 20px;
		transform-origin: 20px 20px;
	}

}

.svg-menu-toggle-cross {

	.bar:nth-of-type(1) {
		-webkit-transform:rotate(-45deg) translateY(0) translateX(0);
		transform:rotate(-45deg) translateY(0) translateX(0);
	}

	.bar:nth-of-type(2) {
		opacity:0;
	}

	.bar:nth-of-type(3) {
		-webkit-transform:rotate(45deg) translateY(0em) translateX(0em);
		transform:rotate(45deg) translateY(0em) translateX(0em);
	}

}
